$base-white-color: #FFFFFF;
$base-black-color: #000000;

$base-brick-color: #ED7458;
$base-wall-color: #D45B3F;
$base-smoke-color: #EFEFEE;
$base-navy-color: #333D51;
$base-dark-color: #444444;
$base-midnight-color: #2B2B2B;
$base-grass-color: #3D9970;
$base-caution-color: #FF4136;
