@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "core/colors";

@import "layout/footer";
@import "components/answer";
@import "components/button";
@import "components/jumbotron";
@import "components/questions";
@import "components/votes";

body {
    font-family: 'Spartan', sans-serif;
    font-weight: normal;
    color: $base-dark-color;
}

strong {
    font-weight: bold;
}


